.employee_container {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    max-width: 1200px;
    /* min-height: 850px;
    max-height: 850px; */
    width: 95%;
    height: 840px;
    margin: 10px auto 10px auto;
}

.employee_article {
    width: 100%;
}

.employee_card {
    height: 100%;
    display: flex;
    align-items: center;
}

.em-img-bx {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
}

.em-img-bx img {
    width: 25px;
}



















/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.em-body-left {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.em-article {
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.em-article .em-header {    
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: white;
    height: 50px;
    margin-bottom: 30px;
    background: deepskyblue;
}

.em-header label {
    margin-left: 20px;
}

.em-info {
    margin-bottom: 25px;
    margin-left: 28px;
}

.em-info div {
    display: flex;
    height: 30px;
    width: 100%;
    position: relative;
}

.em-info div .lb-header {
    font-size: 0.8rem;
    /* font-weight: bold; */
    position: absolute;
    left: 10px;
    top: -10px;
    padding: 0 2px;
    z-index: 1;
    background: white;
}

.em-info div .lb-header a {
    font-size: 1rem;
    color: red;
    position: absolute;
    padding: 0 2px;
    margin-left: 2px;
    z-index: 1;
    background: white;
}

.em-info div .text-box {
    font-size: 1rem;
    color: #424949;
    border: 1px solid lightgray;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    height: 100%;
    width: 220px;
    display: flex;
    align-items: center;
    background: white;
}

.em-info div .select-box {
    height: 41.5px;
    width: 237px;
    background: white;
}

.em-info div .emp-address {
    width: 535px;
}

.em-info div button {
    width: 100px;
    height: 45px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    background: lightgray;
}

.em-info div button.update {
    width: 100px;
    height: 45px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    background: #1D8348;
}


.em-info div button.clear {
    margin-left: 36px;
    background: deepskyblue;
}

.em-info div button.cancel {
    margin-left: 36px;
    background: #E74C3C;
}

.em-info div button:active {
    background: darkgreen;
}

.em-info div button.clear:active {
    background: dodgerblue;
}



/* ------------------------------------------------ */
.em-body-1 {
    width: 95%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.em-body-2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.em-content-1 {
    margin-top: 30px;
    width: 95%;
    height: 300px;
}

.em-header-2 {
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.em-header-2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.em-header-2 div label {
    width: 350px;
    margin-left: 15px;
    font-size: 1.3rem;
}

.em-header-2 .em-lb-txt {
    font-size: 0.9rem;
    margin: 0;
    color: #424949;
    margin-left: 20px;
}


.em-img-bx:hover {
    border: 1px solid lightskyblue;
}

.em-header-2 img {
    width: 25px;
}

.em-content-3 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.em-header-3 {
    margin-top: 10px;
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    justify-content: center;
}

.em-header-3 p {
    font-size: 1rem;
    margin: 0;
    width: 30%;
}

.em-header-3 p.center {
    font-size: 1rem;
    margin: 0;
    width: 20%;
    text-align: center;
}

.em-header-3 p.left {
    font-size: 1rem;
    margin: 0;
    width: 20%;
}

.em-content-4 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.em-content-emp {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;;
    border-radius: 10px;
}

.em-content-emp p {
    font-size: 0.9rem;
    color: #424949;
    margin: 0;
    width: 30%;
}

.em-content-emp p.center {
    font-size: 0.9rem;
    color: #424949;
    margin: 0;
    width: 20%;
    text-align: center;
}

.em-content-emp p.left {
    font-size: 0.9rem;
    color: #424949;
    margin: 0;
    width: 20%;
}

.em-content-emp:hover {
    background: #D6EAF8;
}

.em-content-emp:active {
    background: #5DADE2;
}


.em-img-bx {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
.em-img-bx .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.em-img-bx .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.em-img-bx:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
