.slash-verti {
    height: 100px;
    border-right: 1px solid lightgray;
}

.slash-holi-1 {
    width: 90%;
    border-bottom: 0.12rem solid lightgray;
}

.slash-holi-2 {
    width: 95%;
    height: 28px;
    border-bottom: 0.12rem solid lightgray;
}

.slash-holi-2 p {
    width: 100px;
    font-size: 1rem;
    color: #424949;
    background: white;
}


/* ----- Navbar ----- */

.navbar {
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 1500px; */
    width: 100%;
    height: 100%;
}

.navbar .nav-container .left-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.navbar .nav-container .left-box img {
    width: 60px;
    margin-right: 10px;
}

.navbar .nav-container .left-box button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar .nav-container .left-box button:hover {
    background: #D6EAF8;
    border-radius: 10px;
    transition: 0.3s;
}

.navbar .nav-container .left-box button:active {
    background: #5DADE2 ;
}

.navbar .nav-container .left-box button img {
    width: 20px;
    height: 20px;
}

/* .navbar .nav-container .left-box .home-menu {
    text-decoration: none;
    color: #34C2DB;
    font-size: 1rem;
} */

.navbar .nav-container .right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.navbar .nav-container .right-box label p {
    color: #34C2DB;
    font-size: 1rem;
    margin: 3px 0px 3px 0px;
}

footer {
    width: 100%;
    height: 100%;
    background: white;
    border-top: 1px solid lightgray;
}


/* ----- Container ----- */

.container {
    min-height: 800px;
    max-height: 1200px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .content {
    display: flex;
    flex-direction: row;
    /* width: 1500px; */
    width: 100%;
    min-height: 850px;
}


/* ----- Sidebar ----- */

.side-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-bottom: 0px;
}

.side-menu .logo-box {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 100;
}

.side-menu .home-menu {
    font-size: 1rem;
    color: #34C2DB;
    width: 100px;
    margin-left: 15px;
}

.side-menu img.logo {
    width: 60px;
    margin-left: 5px;
}

.side-menu .menu-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid white;
    background: rgba(0, 0, 0, 0.1); 
}

.side-menu .menu {
    display: none;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.side-menu .menu img {
    width: 20px;
}

.side-menu .menu:hover {
    background: #34C2DB;
}

.side-menu .menu-icon {
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: lighter;
    text-decoration: none;
    white-space: nowrap;
}

.side-menu .menu-icon:hover {
    background: #D6EAF8;
}

.side-menu .menu-icon:active {
    background: #5DADE2 ;
}

.side-menu .menu-icon img {
    width: 20px;
    height: 20px;
    margin-right: 35px;
}


/* ----- Content ----- */

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../background/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: PowderBlue; */
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 830px;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
}

.box-body {
    width: 95%;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lb-box {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lb-box-long {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1180px) {
    .container {
        height: 820px;
    }

    .side-menu {
        height: auto;
    }

    .side-menu .menu {
        display: flex;
    }

    .side-menu .menu-icon img {
        width: 15px;
        height: 15px;
        margin-left: 2px;
        margin-right: 25px;
    }

    .side-menu .menu-icon {
        font-size: 0.8rem;
        padding-left: 25px;
    }
    

    .side-menu .menu-box {
        display: none;
        position: fixed;
        padding-left: 2px;
        left: 0;
        top: 60px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transform: scaleX();
        background-color: rgb(0,0,0);
        background-color: rgba(255,255,255, 0.9);
    }

    .navbar .nav-container .right-box label p {
        color: #34C2DB;
        font-size: 0.5rem;
        margin: 3px 0px 3px 0px;
    }

    .side-menu .home-menu {
        font-size: 0.8rem;
    }

}

