.overview_container {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    max-width: 1200px;
    /* min-height: 850px;
    max-height: 850px; */
    width: 95%;
    height: 840px;
    margin: 10px auto 10px auto;
}

.overview_article {
    width: 100%;
}

.overview_chart_header {
    position: absolute;
    margin: 15px;
    font-size: 1rem;
}

.overview_chart_box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview_chart_box_three {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.overview_chart_box h4 {
    font-weight: lighter;
}

.overview_chart_box label {
    font-size: 1.5rem;
}

.overview_chart_box_three h4 {
    font-weight: lighter;
}

.overview_chart_box_three label {
    font-size: 1.5rem;
}

.overview_table_box {
    width: 100%;
    height: 100%;
    background: white;
    margin-top: 3px;
    position: relative;
}

.year_picker {
    margin-left: auto;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear_button {
    width: 150px;
}

@media (max-width: 850px) {

    .overview_chart_box {
        display: none;
    }
    
    .overview_chart_box_three {
        display: none;
    }

}




















/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ----- Left Box ----- */

.ov-header-left1 {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ov-header-left1-user {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ov-header-left2 {
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ov-body-left {
    width: 95%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: white;
}

/* ----- Header Box ----- */

.ov-emp-bx {
    border-radius: 5px;
    background: royalblue;
    color: white;
    align-items: center;
}

.ov-tim-bx {
    border-radius: 5px;
    background: deepskyblue;
    color: white;
    align-items: center;
}

.ov-header-left1-user .ov-tim-bx {
    border-radius: 5px;
    background: deepskyblue;
    color: white;
    align-items: center;
    width: 45%;
}

.ov-lea-bx {
    border-radius: 5px;
    background: orange;
    color: white;
    align-items: center;
}

.ov-header-left1-user .ov-lea-bx {
    border-radius: 5px;
    background: orange;
    color: white;
    align-items: center;
    width: 45%;
}

.ov-emp-txt {
    font-size: 1rem;
    margin: 0;
}

.ov-emp-num {
    font-size: 2.3rem;
    margin: 15px;
}

/* ----- Body Date Box ----- */

.ov-header-combo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.ov-header-combo div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.ov-header-combo div:hover {
    background: #ADE6F0;
}

.ov-header-combo div:active {
    background: #5CCEE2 ;
}

.ov-header-combo img {
    width: 20px;
}

.ov-select-txt {
    font-size: 1rem;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424949;
    border: 1px solid lightgray;
}

.ov-work-bx {
    border-radius: 5px;
    color: #424949;
    align-items: center;
}

.ov-wend-bx {
    border-radius: 5px;
    color: #424949;
    align-items: center;
}

.ov-holi-bx {
    border-radius: 5px;
    color: #424949;
    align-items: center;
}

.ov-date-percen {
    height: 3px;
    width: 80%;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.ov-date-txt {
    font-size: 1rem;
    margin: 0;
}

.ov-date-num {
    font-size: 1.5rem;
    margin: 15px;
}

.ov-article-left {
    height: 180px;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-bx {
    text-align: center;
    height: 100%;
    border-right: 1px solid lightgray;
    background: linear-gradient(to Right, deepskyblue 2%, white 0%);
}

.bot-bx {
    text-align: center;
    height: 100%;
    border-right: 1px solid lightgray;
    background: linear-gradient(to Right, orange 2%, white 0%);
}

.ov-ta-txt {
    font-size: 1rem;
    margin-left: 20px;
}

.lb-box img {
    width: 80px;
    margin: auto;
}

.lb-stat-bx {
    width: 350px;
    height: 100%;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lb-stat-bx label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lb-stat-bx p {
    font-size: 1rem;
    color: #424949;
}

.ov-ta-percen {
    height: 6px;
    width: 99%;
    border-radius: 2px;
    border: 1px solid lightgray;
}

/* ------------------------------------------------------------------------ */

/* .ov-lb-box {
    width: 200px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.ov-lb-txt {
    font-size: 0.8rem;
    margin: 0;
}

.ov-lb-num {
    font-size: 2rem;
    margin: 15px;
}

.ov-stat {
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid lightgray;
}

.ov-stat div.ov-lb-txt {
    width: 330px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 0.8rem;
    color: #424949;
}

.ov-stat p {
    text-align: center;
    width: 50px;
}

.ov-percen {
    width: 220px;
    height: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424949;
    border-radius: 5px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
/*------------------------------------------------*/
.ad_month {
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}
/*------------------------------------------------*/


.ov-content1 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ov-content2 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* ----- Right Box ----- */

.ov-header-2 {
    width: 95%;
    height: 80px;
    flex-direction: row;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ov-body-2 {
    width: 95%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.ov-header-2 p.ov-lb-txt {
    font-size: 0.9rem;
    margin: 0;
    color: #424949;
    margin-left: 20px;
}

.ov-content-3 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ov-header-3 {
    margin-top: 10px;
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.ov-header-3 p {
    font-size: 1rem;
    margin: 0;
    width: 35%;
}

.ov-header-3 p.center {
    font-size: 1rem;
    margin: 0;
    width: 20%;
    text-align: center;
}

.ov-header-3 p.left {
    font-size: 1rem;
    margin: 0;
    width: 15%;
}

.ov-content-4 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ov-content-emp {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ov-content-emp p {
    font-size: 0.8rem;
    color: #424949;
    margin: 0;
    width: 35%;
}

.ov-content-emp p.center {
    font-size: 0.8rem;
    color: #424949;
    margin: 0;
    width: 20%;
    text-align: center;
}

.ov-content-emp p.left {
    font-size: 0.8rem;
    color: #424949;
    margin: 0;
    width: 15%;
}

/* Responsive */

/* @media only screen and (max-width: 390px) { */
    /* ----- Left Box ----- */
    /* .ov-header-left1,
    .ov-header-left1-user,
    .ov-header-left2 {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    } */
    /* .ov-header-left1-user .ov-tim-bx,
    .ov-header-left1-user .ov-lea-bx {
    width: 100%;
    } */
    /* ----- Body Date Box ----- */
    /* .ov-header-combo {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    }
    .ov-header-combo div {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    }
    .ov-header-combo img {
    width: 15px;
    }
    .ov-select-txt {
    width: 100%;
    margin-bottom: 10px;
    }
    .ov-work-bx,
    .ov-wend-bx,
    .ov-holi-bx {
    width: 90%;
    margin-bottom: 10px;
    }
    .ov-date-percen {
    height: 2px;
    margin-bottom: 5px;
    }
    .ov-date-num {
    font-size: 1rem;
    margin: 5px 0;
    }
    .ov-article-left {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .top-bx,
    .bot-bx {
    height: auto;
    border-right: none;
    margin-bottom: 5px;
    }
    .ov-ta-txt {
    font-size: 0.8rem;
    margin: 5px 0;
    }
    .lb-box img {
    width: 60px;
    margin: 10px 0;
    }
    .lb-stat-bx {
    width: 100%;
    margin-top: 0;
    }
    .lb-stat-bx label {
    flex-direction: column;
    align-items: center;
    }
    .ov-ta-percen {
    height: 4px;
    margin-bottom: 5px;
    } */
    /* ----- Common ----- */
    /* .ov-lb-num {
    font-size: 1.5rem;
    }
    .ov-lb-txt {
    font-size: 0.7rem;
    }
    } */