.report_container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 1200px;
    /* min-height: 850px;
    max-height: 850px; */
    width: 95%;
    margin: 10px auto 10px auto;
}

.report_article {
    width: 100%;
}

.report_table {
    height: 100%;
    background: lightblue;
}

.date-picker-label {
    display: flex;
    align-items: center;
}